body {
  margin: 0px;
  *box-sizing: border-box;
}

.cabecalho {
  display: flex;
  flex-direction: column;
  background-color: #001f54;
  color: white;
}

.texto-cabecalho {
  font-family: NotoSerif-Regular;
  font-size: 1.5em;
}

.lusett {
  font-size: 4em;
  font-family: NotoSerif-Regular;
  text-shadow: 0.1em 0.1em 0.05em #1282a2;
}

.cima {
  display: flex;
  flex-direction: row;
  margin: 1.2em;
  justify-content: space-between;
}

.baixo {
  display: flex;
  flex-direction: row;
  margin: 0.6em 5em 2em 5em;
  justify-content: space-between;
}

.cabecalho img {
  max-width: 2em;
  width: auto;
}

.icone-lupa {
  margin-left: 50px;
  margin-right: -70px;
}

.superior {
  padding-top: 10px;
  padding-left: 555px;

  color: black;
  height: 1em;
  width: 100;

  font-weight: bold;
  align-items: center;

  font-size: 1.6em;
  font-family: NotoSerif-Regular;
}

.linha {
  padding-left: 150px;
  padding-bottom: 50px;
}

.titulo {
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 22px;
}

.caixaum {
}

.caixadois {
}

.caixatres {
}

.texto {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 20px;
}

.textodois {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 20px;
}

.textotres {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 20px;
}

.roda-pe {
  display: flex;
  flex-direction: row;

  background-color: #001f54;
}

.conteudo-pe {
  color: #ffff;

  justify-content: space-evenly;

  width: 100%;

  font-size: 1.2em;
  padding-bottom: 5em;

  display: flex;
  flex-direction: row;
}

.texto1-P {
  padding-top: 5em;
}

.texto2-P {
  padding-top: 5em;
}

.texto3-P {
  padding-top: 5em;
}
